{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-4">
    <a class="btn btn-success" href="{% url 'index' %}" role="button">Back</a>
</div>
<div class="container mt-4">

    <h5 class="card-title">{{object.title}}</h5>
    <hr>
    <p class="card-text"><small class="text-muted">{{object.date}}</small></p>
    <h6 class="card-subtitle mb-2 text-muted">Uploaded By: {{object.author.username}}</h6>
    <hr>
    <p class="card-text">{{object.content }}</p>


</div>

{% endblock content %}